USE [master]
GO
/****** Object:  Database [DB_BD]    Script Date: 9/16/2019 6:04:00 PM ******/
CREATE DATABASE [DB_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_BD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_BD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_BD]
GO
/****** Object:  Table [dbo].[BD]    Script Date: 9/16/2019 6:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[GioLay] [int] NULL,
	[NgayLay] [date] NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_BD] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BD] ([MaKH], [TenKH], [GhiChu], [GioLay], [NgayLay], [DonGia], [SoLuong]) VALUES (N'Atr_16_16_09', N'Chú Trúc', N'Không', 16, CAST(N'2019-09-16' AS Date), 2500, 105)
INSERT [dbo].[BD] ([MaKH], [TenKH], [GhiChu], [GioLay], [NgayLay], [DonGia], [SoLuong]) VALUES (N'CK_14_18_09', N'Chị Kem', N'Không', 14, CAST(N'2019-09-20' AS Date), 2500, 105)
INSERT [dbo].[BD] ([MaKH], [TenKH], [GhiChu], [GioLay], [NgayLay], [DonGia], [SoLuong]) VALUES (N'CTh_19_18_09', N'Chị Thiêu', N'Không', 19, CAST(N'2019-09-18' AS Date), 2500, 210)
USE [master]
GO
